.main-card-add-new-ad{
    margin-left: 270px;
    height: 1200px;
    width: auto;
}
.card-ad-content{
    height: 1150px;
}
.stack-upload-detail{
    margin-left: 30px;
    margin-top: 30px;
}
.upload-btn-add-new-ad{
    color: white !important;

    background-color: blue !important;
    height: 30px;
    padding-left: 30px !important;
    border-radius: 15px !important;
    margin-left: 30px  !important;
    padding-right: 30px !important;
}
.box-dog-pic-upload{
    margin-left: 25px;
    margin-top: 25px;
}
.img-upload{
    height: 15rem;
    width:28rem;
    margin-left: 25px;
}
.cancel-icon{
    float:right !important;
    color: red;
    margin-right: 500px ;
    margin-top: -25px;
}