.main-card-add-user{
    margin-left: 270px ;
    height: auto;
    width: auto;
}
.add-user-photo{
    height: 150px !important;
    width: 150px !important;
    margin-left: 150px !important;
 
}
.remove-icon-upload-profile{
    position: absolute !important;
    margin-left: 290px !important;
    margin-top: -5px;
    background-color: black !important;
  /* border: 2px solid red !important; */
   color: white !important;
    border-radius: 50px !important;
}